/* Responsive Tablet version ( >= 768px ) */
@media screen and (min-width: 768px) {
    /* Title aligne left */
    header .title-container{
        max-width: 700px;
        margin: 0 20px;
        justify-content: start;
    }

    /* Increase padding main content */
    .main-wrapper{
        padding: 30px;
    }

    /* Display & increase title  */
    .hidden{
        display: inline;
    }

    .title{
        font-size: 20px;
    }

    /* Recipe display grid */
    .info-bottom ul{
        display: flex;
        flex-wrap: wrap;
    }

    .info-bottom ul li{
        flex-basis: calc(100% / 3);
    }

    /* Increase button width */

    .btn-social{
        max-width: 100%;
    }

    .btn-social button{
        width: 100px;
        border-radius: 40%;
    }

    /* Displayed ads */
    .ads{
        margin-top: 30px;
    }

    .banner{
        display: block;
        height: 50px;
        width: 100%;
    }
}

/* Responsive Desktop version ( >= 992px ) */
@media screen and (min-width: 992px) {
/* increased title) */
.title{
    font-size: 30px;
}

 /* Recipe displayed standard */
 .info-bottom ul{
    display: block;
}
/* Recipe card displayed in the same line */
.recipe-card{
    display: flex;
    margin-bottom: 20px;
}

/* Increase button width & added social names */
.btn-social button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 15px;
    border-radius: 15px;
}

/* Footer list disposition inverse */
.footer-content{
    flex-direction: row-reverse;
}



}

@media screen and (max-width: 991px) {
     .hidden.btn{
        display: none;
     }
}

