/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
    max-height: 100%;
}

/* Generics */
body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: white;
}

/* Utils */
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.primary-yellow{
    color: rgb(241, 155, 60);
}

.bg-yellow{
    background-color: rgb(241, 155, 60);
    color: white;
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.hidden{
    display: none;
}

/* header */
.title-container{
    max-width: 500px;
    height: 50px;
    margin: 0 auto;
    background-color: white;

    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Nerko One', cursive;
}

/* Main */
.main-wrapper{
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: lightgray
}

.main-title{
    margin-bottom: 10px;
    justify-content: space-between;
}

.title h2{
    margin-top: 5px;
    color: darkslateblue;
}

.rating{
    align-items: baseline;
    align-self: end;
}

.rating button{
    margin-left: 10px;
    padding: 10px 15px;

    font-size: 13px;
    font-weight: bold;

    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.fas{
    color: rgb(241, 155, 60);
}

/* Section recipe */

.recipe-video{
    width: 100%;
}

iframe{
    width: 100%;
    height: 230px;
}

/* Section recipe */
.recipe-card{
    min-height: 300px;
    background-color: white;
}

.video-card{
    height: 300px;
}

iframe{
    width: 100%;
    height: 100%;
}

.recipe-info{
   background-color: white;
}

.info-top, .info-bottom{
    max-width: 75%;
    margin: 20px auto;
}

.fa-carrot{
    margin-right: 5px;
}

.row{
    padding: 10px;
    font-size: 13px;
    background-color: #E0E0E0;
}

.col.flex{
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray
}

.col.flex p:first-child{
    background-color: darkslateblue;
    color: white;
}

.col.flex p:last-child{
    font-weight: bold;
}

/* Info bottom */
.info-bottom ul{
    padding-bottom: 30px;
}

.info-bottom ul li{
    list-style: none;
    font-size: 14px;
    margin-top: 5px;
}

.info-bottom li span{
    font-weight: bold;
}

/* Button social */
.btn-social{
    max-width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}

.btn-social button{
    padding: 5px 10px;
    border-radius: 50%;

    background-color: white;
    border: none;
}

/* Ads */
.banner{
    display: none;
}

/* Presentation */
#presentation{
    margin-top: 20px;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.presentation-title h2{
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid  orange ;
    border-right-width: 10pc;
}

.presentation-content{
    margin-top: 20px;
}


.img-card{
    max-width: 250px;
    margin-right: 10px;
    float: left;
}

/* Footer */
.footer-content .footer-col{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

    padding: 10px 10px;
    background-color: mediumpurple;
    font-size: 13px;
}


.footer-content .left{
    flex-basis: 50%;
}

.footer-content .right ul{
    display: flex;
    list-style: none;

}

.footer-content .right ul li{
    color: white;
    text-decoration: underline;
    margin-right: 10px;
    align-items: center;

}

.left p{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

