/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: white;
}

/* Utils */
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.primary-yellow{
    color: rgb(241, 155, 60);
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.hidden{
    display: none;
}

/* header */
.title-container{
    max-width: 500px;
    height: 50px;
    margin: 0 auto;
    background-color: white;

    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Nerko One', cursive;
}
